@font-face {
    font-family: 'YS Text';
    src: url('../fonts/YSText-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YS Text';
    src: url('../fonts/YSText-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YS Text';
    src: url('../fonts/YSText-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YS Display Cond';
    src: url('../fonts/YSDisplayCond-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YS Display Cond';
    src: url('../fonts/YSDisplayCond-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YS Display Cond';
    src: url('../fonts/YSDisplayCond-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
    --yellow: #ffea00;
}

* {
    font-family: 'YS Text';
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--yellow);
}

.logo__top img {
    width: 220px;
}

.title,
.title * {
    font-family: 'YS Display Cond';
    font-weight: 900;
    font-size: 60px;
    line-height: 1;
}

.main,
.locked {
    min-height: 100vh;
    display: none;
}

.main {
    background-color: var(--yellow);
    background: radial-gradient(circle,rgba(255, 234, 0, 1) 26%, rgba(255, 255, 255, 1) 100%);
    position: relative;
    margin: 0 auto;
}

.main.is-active,
.locked.is-active {
    display: flex;
    flex-direction: column;
}

.locked {
    background-color: black;
    background-image: url(../img/bg-dark.png);
    background-size: cover;
    background-position: center;
}

.locked .title {
    color: white;
}

.step--1 .title {
    margin: 0 0 40px;
}

.highlight {
    color: var(--yellow);
}

.btn {
    background-color: black;
    color: white;
    border-radius: 20px;
    display: block;
    cursor: pointer;
    padding: 13px 20px;
    font-weight: 500;
    max-width: 100%;
    width: 400px;
    margin: 0 auto;
    font-size: 32px;
}

.logo__top {
    text-align: center;
}

.logo__bottom {
    max-width: 100%;
    width: 480px;
    margin: 0 auto;
}

.step {
    text-align: center;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px 45px;
    display: none;
    max-width: 640px;
    margin: 0 auto;
}

.step.is-active {
    display: flex;
}

.locked .step {
    background-image: url(../img/circle-dark.svg);
}

.step__circle-button {
    background: transparent;
    border: 0;
    padding: 15px;
    cursor: pointer;
    outline: none;
    background: radial-gradient(circle, rgba(255, 234, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
    border-radius: 100px;
    position: absolute;
    transition: .3s;
    font-size: 0;
}

.step__circle-button img {
    width: 60px;
    height: 60px;
}

.step__circle-button.is-active {
    background: radial-gradient(circle, rgba(255, 234, 0, 1) 4%, rgba(255, 255, 255, 1) 56%);
}

.step__circle-button:nth-child(1) {
    top: 4%;
    left: 25%;
}

.step__circle-button:nth-child(2) {
    top: 6%;
    right: 25%;
}

.step__circle-button:nth-child(3) {
    top: 20%;
    right: 10px;
}

.step__circle-button:nth-child(4) {
    bottom: 20%;
    right: 20px;
}

.step__circle-button:nth-child(5) {
    bottom: 4%;
    right: 23%;
}

.step__circle-button:nth-child(6) {
    bottom: 3%;
    left: 28%;
}

.step__circle-button:nth-child(7) {
    bottom: 80px;
    left: 20px;
}

.step__circle-button:nth-child(8) {
    top: 23%;
    left: 10px;
}

.step__content {
    display: flex;
    flex-direction: column;
}

.step__circle {
    position: absolute;
    background-image: url(../img/go.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(100% - 20px);
    min-height: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.step--4 {
    background-image: unset;
}

.code {
    font-size: 60px;
    border-radius: 20px;
    background-color: white;
    font-family: 'YS Display Cond';
    font-weight: 900;
    line-height: 1;
    padding: 7px 40px;
    margin: 10px auto;
}

.text {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 15px;
}

.note {
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0 20px;
}

@media (max-width: 380px) {
    .step {
        padding: 25px 35px;
    }

    .title,
    .title * {
        font-size: 36px;
    }

    .btn {
        font-size: 24px;
    }

    .logo__top img {
        width: 160px;
    }
}